body{
    background-color: #F9FAFB;
    margin: 0;
    padding-top: 120px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 24px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
        }
h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}