.hero-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
    margin-bottom: 30px;
}
@media (max-width: 768px) {
    .hero-page {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}
.intro-text-div{
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.intro-text{
    color: var(--text-dark);
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 0;
    letter-spacing: 1px;
}
.intro-text span{
    color: var(--primary-color);
}
.intro-text-small{
    color: black;
    text-align: left;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 16px;
    letter-spacing: 0.5px;
}
@media (max-width: 768px) {
            .intro-text { font-size: 2.25rem;
            text-align:center;
            line-height: 1.2;
            letter-spacing: 0.5px;
        }
        .intro-text-small { font-size: 15px;
            line-height: 28px;
            letter-spacing: 0.25px;
            padding: 0 20px 0 20px;
        }
    }
.hero-image{
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 0px auto 0 auto;
}

.courses{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: var(--primary-color);

}
    .course-buttons{
        background-color: var(--primary-color);
        color: white;
        border: 2px solid var(--primary-dark);
        border-bottom: 5px solid var(--primary-dark);
        padding: 16px 32px;
        border-radius: 14px;
        font-weight: 700;
        font-size: 15px;
        cursor: pointer;
        text-transform: uppercase;
        transition: all 0.1s;
    }
    .course-buttons:active {
        transform: translateY(4px);
        border-bottom-width: 1px;
    }